.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
# project specific .gitignore:
*.Rmd
*.pdf
*.pptx
*.xlsx
Notepad++Session.xml
UCI HAR Dataset.names
Dataset.zip
UCI HAR Dataset
run_analysis.log
CLUSTERING EXAMPLE.TXT
HAR-ADL-analysis.Rproj
