.Rproj.user
.Rhistory
.RData
.Ruserdata
Getting and Cleaning Data Course Project _ Coursera.pdf
Getting and Cleaning the Assignment _ thoughtfulbloke aka David Hood.pdf
HAR-analysis.Rproj
Notepad++Session.xml
README.Rmd
UCI HAR Dataset.names
UCI Machine Learning Repository_ Human Activity Recognition Using Smartphones Data Set.pdf
features_info_COMMENTED.txt
Dataset.zip
UCI HAR Dataset
CodeBook.Rmd
